<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id='app'>
    <input type="text" v-model="name">
    <h1>{{name}}</h1>
    <br>
    <input type="number" v-model="age">
    <h2>{{age}}</h2>
    <div>
      <h3>{{age}}</h3>
    </div>

    <h2>两秒后更改data中的btn内容 响应式更改v-html</h2>
    <div v-html="btn"></div>
    <button v-click="alertData">点击</button>
  </div>
</body>
<script src="./Observer.js"></script>
<script src="./vue.js"></script>
<script src="./MyClass.js"></script>
<script>
  let opt = {
    el: '#app',
    data: {
      name: 'sxh',
      age: 1,
      btn: '<button>提交</button>'
    },
    methods: {
      alertData () {
        opt.data.age++
      }
    }
  }
  setTimeout(() => {
    opt.data.btn = '<button>提交2</button>'
  }, 2000)

  let vm = new Vue(opt)

</script>

</html>